<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Raysume</title>
  <link rel="icon" href="images/raysume.png">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;400;700;800;900&family=Roboto:wght@100;400;700;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- CSSstylesheet -->

  <!-- fontsAwesom -->
  <script src="https://kit.fontawesome.com/dcdd8c60bc.js" crossorigin="anonymous"></script>
  <!-- bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/temp.css">


</head>

<body>

  <div class="container-fluid Allfather">



      <section id="Navigation">
        <div class="container-fluid navpanel">
          <!-- Nav Bar -->

          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand">Raysume</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
               <ul class="navList navbar-nav ms-auto">
                <li class="navbar-item">
                  <a class="nav-link active" href="/">
                    Home
                  </a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link" href="">
                    Templates
                  </a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link" href="/#footer">
                    Contact Us
                  </a>
                </li>
                <li class="navbar-item">
                   <form action="/logout" method="get" class="inline">
                     <button class="login btn btn-outline-light"type="submit" name="button">Logout</button>
                   </form>


                </li>

              </ul>

            </div>
          </nav>
        </div>

      </section>




    <div class="row">

      <div class="Details col-md-8">

        <form class="" action="/personal" method="post">
          <!-- PersonalDetails -->
          <div class="PersonalDetails col">
            <h1>Personal Details</h1>
            <div class="row">
              <div class="col-md-4">

                <div class="card">
                  <img src="images/UserProfile.png" id="previewImg" class="card-img-top" alt="Img_preview">

                  <div class="card-body">

                    <input type="file" id="inpFile" onchange="loadFile(event)" class="form-control" name="inpFile">
                    <label for="inpFile">Select Photo</label>
                  </div>
                </div>

              </div>
              <div class="nameField col-md-8">

                <div class="inputcouple name">
                  <label class="form-label" for="">First Name</label>
                  <input class="inputField form-control" type="text" name="name" value="<%=UserNow.FirstName%>" placeholder="Enter name" required>

                </div>
                <div class="inputcouple surname">
                  <label class="form-label" for="">Last Name</label>
                  <input class="inputField form-control" type="text" name="lastname" value="<%=UserNow.LastName%>" placeholder="Enter the last name">

                </div>

              </div>

            </div>
            <div class="inputcouple col-12">
              <label class="form-label" for="">Social Links</label>
              <div class="sociallinks row">
                <div class="social-icon col-1">
                  <i class="fa-brands fa-at"></i>
                </div>
                <div class="col-11">
                  <input type="email" class="inputField form-control" name="lemail" value="<%=UserNow.UserEmail%>">

                </div>
              </div>
              <div class="sociallinks row">
                <div class="social-icon col-1">
                  <i class="fa-brands fa-wordpress-simple"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="inputField form-control" name="lpsite" value="<%=UserNow.UserPersonalSite%>">

                </div>
              </div>
              <div class="sociallinks row">
                <div class="social-icon col-1">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="inputField form-control" name="lgithub" value="<%=UserNow.UserGithub%>">

                </div>
              </div>
              <div class="sociallinks row">
                <div class="social-icon col-1">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="inputField form-control" name="llinkedin" value="<%=UserNow.UserLinkedin%>">

                </div>
              </div>



            </div>
            <div class="inputcouple">

              <label class="form-label" for="">Job Title</label>
              <input class="inputField form-control" type="text" name="jobtitle" value="<%=UserNow.JobTitle%>" placeholder="Job Title">

            </div>
            <div class="inputcouple">
              <label class="form-label" for="">Summary</label>
              <textarea class="inputField form-control" type="text" name="summary" value="" placeholder="Job Title"><%=UserNow.ResumeSummary%></textarea>

            </div>

            <div class="buttoncont col-12">
              <button type="submit" onclick="this.form.submit()" class="" name="button">Update</button>
            </div>


          </div>
        </form>
        <!-- ProfessionalDetails -->

        <div class="PersonalDetails col">

          <h1>Professional Details</h1>

<!-- WorkHistory -->
          <div id="workdetails" class="inputcouple">
            <label class="form-label" for="">Work History</label>

              <div class="workbox">

                <% UserNow.WorkHistory.forEach(function(item){ %>
                  <form action="/workdelete" method="post">
                    <div class="workcont row">
                      <div class="workparaleft col-11">
                        <p class="workpos"><%= item.WorkPosition %></p>
                      </div>

                      <div class="workparaleft col-1">
                        <input class="form-check-input"type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                      </div>
                      <div class="workparaleft col-md-8">
                        <p class="workimp"><%= item.WorkEmployer %></p>
                      </div>
                      <div class="workpararight col-md-4">
                        <p class="workimp"><%= item.WorkPeriod %></p>
                      </div>
                      <div class="workparaleft col-12">
                        <p class="worksum"><%= item.WorkSummary %></p>
                      </div>
                    </div>
                    <input type="hidden" name="listName" value="WorkHistory">
                  </form>

                <% }); %>

              </div>



              <form class="" action="/work" method="post">
                <div class="row">
                  <div class="col-md-4">
                    <label class="Work-label">Period</label>
                    <input class="inputField form-control" type="text" name="wperiod" value="" placeholder="eg. Jun,2021 - Jul,2022">

                  </div>
                  <div class="col-md-8">
                    <label class="Work-label">Job Profile</label>
                    <input class="inputField form-control" type="text" name="wjobprofile" value="">

                  </div>
                  <div class="col-12">
                    <label class="Work-label">Imployer</label>
                    <input class="inputField form-control" type="text" name="wimployer" value="">
                  </div>
                  <div class="col-12">
                    <label class="Work-label" for="">Summary</label>
                    <textarea class="inputField form-control" type="text" name="wsummary" value="" placeholder="Job Title"></textarea>

                  </div>
                  <div class="buttoncont col-12">
                    <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                  </div>





                </div>
              </form>
          </div>
<!-- EducationalQualification -->
          <div class="inputcouple">
            <label class="form-label" for="">Educational Qualification</label>
            <div class="workbox">

              <% UserNow.EducationalQualification.forEach(function(item){ %>
                <form action="/edudelete" method="post">
                  <div class="workcont row">
                    <div class="workparaleft col-11">
                      <p class="workpos"><%= item.EQDegree %></p>
                    </div>

                    <div class="workparaleft col-1">
                      <input class="form-check-input"type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                    </div>
                    <div class="workparaleft col-md-8">
                      <p class="workimp"><%= item.EQInstitute %></p>
                    </div>
                    <div class="workpararight col-md-4">
                      <p class="workimp"><%= item.EQPeriod %></p>
                    </div>
                  </div>
                  <input type="hidden" name="listName" value="WorkHistory"></input>
                </form>

              <% }); %>

            </div>



            <form class="" action="/edu" method="post">
              <div class="row">
                <div class="col-md-4">
                  <label class="Work-label">Period</label>
                  <input class="inputField form-control" type="text" name="eperiod" value="" placeholder="eg. Jun,2021 - Jul,2022">

                </div>
                <div class="col-md-8">
                  <label class="Work-label">Degree</label>
                  <input class="inputField form-control" type="text" name="edegree" value="">

                </div>
                <div class="col-12">
                  <label class="Work-label">Institute</label>
                  <input class="inputField form-control" type="text" name="einstitute" value="">


                </div>
                <div class="buttoncont col-12">
                  <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                </div>

              </div>


            </form>

          </div>
<!-- Skills -->
          <div class="inputcouple">
            <label class="form-label" for="">Skills</label>
            <div class="workbox">
              <div class="row">
                <% UserNow.Skills.forEach(function(item){ %>
                  <form class="col-md-3" style="padding: 1px;"  action="/skilldelete" method="post">

                      <div class="skillbox row">

                          <p class="col-9"><%= item.SkillName %></p>
                          <input class="col-3 form-check-input" type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                       </div>
                      <input type="hidden" name="listName" value="Skills"></input>
                  </form>

                <% }); %>

              </div>
            </div>

            <form class="" action="/skill" method="post">
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-10">

                  <input class="inputField form-control" type="text" name="skillname" value="" placeholder="eg. Jun,2021 - Jul,2022">

                </div>
                <div class="buttoncont col-md-2" style="padding-top: 0;">
                  <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                </div>

              </div>


            </form>

          </div>
        </div>

        <div class="PersonalDetails col">

          <div class="col-12">

<!-- Certificates and Achievements -->
            <div class="inputcouple">
              <label class="form-label" for="">Certificates</label>
              <div class="workbox">
                <div class="row">
                  <% UserNow.Certificates.forEach(function(item){ %>
                    <form class="col-md-12" style="padding: 1px;" action="/certidelete" method="post">
                      <div class="skillbox row">

                        <p class="col-11" style="text-align:left;" ><%= item.CertName %></p>
                        <input class="col-1 form-check-input" type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                      </div>
                      <input type="hidden" name="listName" value="Skills"></input>
                    </form>

                  <% }); %>

                </div>



              </div>



              <form class="" action="/certificate" method="post">
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-10">

                    <input class="inputField form-control" type="text" name="certname" value="" placeholder="eg. Jun,2021 - Jul,2022">

                  </div>
                  <div class="buttoncont col-md-2" style="padding-top: 0;">
                    <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                  </div>

                </div>
              </form>

            </div>
<!-- Hobbies -->
            <div class="inputcouple">
              <label class="form-label" for="">Hobbies</label>
              <div class="workbox">
                <div class="row">
                  <% UserNow.Hobbies.forEach(function(item){ %>
                    <form class="col-md-3" style="padding: 1px;"  action="/hobbiedelete" method="post">

                        <div class="skillbox row">

                            <p class="col-9"><%= item.HobbName %></p>
                            <input class="col-3 form-check-input" type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                         </div>
                        <input type="hidden" name="listName" value="Skills"></input>
                    </form>

                  <% }); %>

                </div>
              </div>



              <form class="" action="/hobbie" method="post">
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-10">

                    <input class="inputField form-control" type="text" name="hobbiename" value="" placeholder="eg. Jun,2021 - Jul,2022">

                  </div>
                  <div class="buttoncont col-md-2" style="padding-top: 0;">
                    <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                  </div>

                </div>


              </form>

            </div>
<!-- Languages -->
            <div class="inputcouple">
              <label class="form-label" for="">Languages</label>
              <div class="workbox">
                <div class="row">
                  <% UserNow.Languages.forEach(function(item){ %>
                    <form class="col-md-3" style="padding: 1px;"  action="/langdelete" method="post">

                        <div class="skillbox row">

                            <p class="col-9"><%= item.LangName %></p>
                            <input class="col-3 form-check-input" type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                         </div>
                        <input type="hidden" name="listName" value="Skills"></input>
                    </form>

                  <% }); %>

                </div>
              </div>



              <form class="" action="/language" method="post">
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-10">

                    <input class="inputField form-control" type="text" name="langname" value="" placeholder="eg. Jun,2021 - Jul,2022">

                  </div>
                  <div class="buttoncont col-md-2" style="padding-top: 0;">
                    <button class="" onclick="this.form.submit()" name="button">+ADD+</button>
                  </div>

                </div>


              </form>

            </div>


          </div>

        </div>
       </div>
      <div class="preview col-md-4">
        <p>bey</p>

      </div>
      <div class="previewbutton col-md-4">

          <form class="" action="/preview" method="get">
            <button type="button" onclick="this.form.submit()" name="button">Preview Page</button>
          </form>


      </div>

    </div>

  </div>




  <script type="text/javascript">
    var loadFile = function(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('previewImg');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    };
  </script>









</body>

</html>


<!--  <div id="content">
  <h3>Hello, this is a H3 tag</h3>
  <form class="" action="index.html" method="post">
    <input onchange="changename(this.value,this.name)" type="text" name="name" value="" placeholder="firstName">
    <input onchange="changename(this.value,this.name)" type="text" name="lastn" value="" placeholder="lastName">

  </form>

  <div class="">
    <p id="name">firstName</p>
    <p id="lastn">lastName</p>


  </div>
</div>
<script type="text/javascript">
   function changename(val,id){
     var obj = document.getElementById(id);
      obj.innerText = val;

   };
  });
</script> -->
